*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D2D2D2;
}

p{
    max-height: 50vh;
}

button{
    padding : 0.5rem 1rem;
}